input[type=submit] {
    width: 80px;
    height: 25px;
    margin-top: 20px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
}


.table1 {
    padding-top: 30px;
    padding-left: 370px;
    font-family: Arial, Helvetica, sans-serif;

}

.dash {
    padding-left: 50px;
    padding-top: 10px;

}

.dash1 {
    padding-left: 60px;
}

.buy {
    padding-top: 40px;
    margin-left: 610px;
}