.Terms1 {
    padding-left: 470px;
    color: rgb(83, 180, 115);
}

.Terms {
    padding-left: 370px;
    color: rgb(83, 180, 115);
}

.CONTENTS {
    padding-left: 170px;
    color: black;
}

.list1 {
    padding-left: 200px;
    font: weight 10px;
}


.list11 {
    padding-left: 80px;
}