body {
    font-family: "Old Standard TT", serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Shadows Into Light", cursive;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    background-color: rgb(175, 171, 202);
    color: #1e1e27;
}

.sign-up {
    width: 360px;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 3px;

}

h1 {
    text-align: center;
    padding-top: 15px;
}

h4 {
    text-align: center;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1PX solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(7, 60, 110);
    color: white;
    font-size: 18px;
}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.p2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;

}

.p2 a {
    color: darkblue;

}

.LOGIN {
    width: 360px;
    height: 300px;
    margin: auto;
    background-color: white;
    border-radius: 3px;

}